@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #282828;
    font-size: 'Nunito Sans';
    color: #fff;
}

#navbar-detoxify-logo {
    width: 120px;
    margin-right: 1rem;
}

#navbar-menu-icon {
    width: 25px;
    height: 25px;
    fill: #fff;
}

.btn-spotify {
    background-color: #1db954;
    color: #fff;
    border-radius: 50px;
    padding: .25rem 2rem;
}